*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

*:focus {outline: none} 

body {
    min-height: 100vh;
    box-sizing: border-box;
    font-family: 'Roboto', 'Noto Sans TC', sans-serif;
    font-size: 16px;
    background-image: linear-gradient(to top, #777, #777 ), url('img/bg-2-min.jpg');
    // background-image: linear-gradient(to top, #000 , #f09935), url('img/bg-1-min.jpg');
    background-size: cover;
    background-blend-mode: multiply;
    text-rendering: optimizeLegibility; 
}

textarea {
    resize : none;
}


ul {
    list-style-type: none;
}