// COLORS
$color-highlight: #f0b849;
$color-highlight-dark: #fe5000;
$color-normal: #8ec06c;
$color-primary: #c7c8ca;
$color-primary-light: #e9eff3;
$color-secondary: #71c6c1;

$color-text: #212121;
$color-text-light: 	rgb(83, 74, 74);

$color-nav: #002147;
$color-save: #fffaec;
$color-cancel: #B22222;