.nav {
    width: 100vw;
    background-color: $color-nav;
    box-shadow: 0 3px 10px #2b2b2baf;
    position: fixed;
    z-index: 10;

    .tabs {
        margin: 0 auto;
        width: 50vw;
        max-width: 680px;
        font-size: 1.5rem;
        font-weight: 500;
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        padding: 0;

        & li {
            padding: 1.2vw 5vw;
            text-align: center;
            cursor: pointer;
            color: $color-nav-text;

            &.active {
                color: $color-nav-text-active;
                border-bottom: $color-nav-text-active dotted 4px;
            }
        }
    }
}

.tab__content {
    padding-top: 80px;

    .task__inprogress {
        margin: 0 auto;
        width: 50vw;
        max-width: 680px;
    }

    .task__completed {
        margin: 0 auto;
        width: 50vw;
        max-width: 680px;
        display: none;
    }
}

