body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    padding-bottom: 10vw;
    box-sizing: border-box;
    font-family: 'Roboto', 'Noto Sans TC', sans-serif;
    font-size: 16px;
    background-image: linear-gradient(to top, #001a57, #dc5034), url('img/bg-4.jpg');
    background-size: cover;
    background-blend-mode: screen;
  }

  .nav {
    width: 100vw;
    background-color: #002147;
    box-shadow: 0 3px 10px #2b2b2baf;
    position: fixed;
    z-index: 10;
  }
  
  .tabs {
    margin: 0 auto;
    width: 50vw;
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
  }
  
  .tabs li {
    padding: 1.2vw 5vw;
    text-align: center;
    cursor: pointer;
    color: #A9A9A9;
  }
  
  .tabs li.active {
    color: #fffaec;
    border-bottom: #fffaec dotted 4px;
  }

  .tab__content {
    padding-top: 90px;
  }

  .task__inprogress {
    margin: 0 auto;
    width: 50vw;
  }

  .task__completed {
    margin: 0 auto;
    width: 50vw;
    display: none;
  }