.task {
    &__input {
        position: relative;
        width: calc(55vw+150px);
        max-width: 850px;
        margin-bottom: 15px;
        padding: 0 100px;
    }

    &__inputarea {
        width: 100%;
        height: 50px;
        border-radius: 3px;
        border: 3px solid $color-text-light;
        padding-left: 40px;
        font-family: 'Roboto', 'Noto Sans TC', sans-serif;
        font-size: 1.3rem;
        font-weight: 500;
        background-color: $color-primary-light;
        color: $color-text;

        &::-webkit-input-placeholder {
            font-size: 1rem;
        }
    }

    &__input div {
        position: absolute;
        top: 10px;
        left: 120px;
        font-size: 1.5rem;
        font-weight: 500;
        color: $color-text-light;
    }
}